.navbar-wrapper {
    background: linear-gradient(#96683a, rgb(45, 45, 45));
    height: 550px; 
    width: 280px;

    padding: 10px 0 ;
    border-radius: 0 15px 15px 0;
}

.app-title {
    text-align: center;
}

.app-title i {
    font-size: 30px;
}

.navbar-wrapper a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
}

.nav-links {
    padding: 0 20px 0 20px;
}

.nav-links a {
    border: 2px solid rgb(65, 30, 30);
    font-weight: 600;
    color: rgb(255, 228, 222);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    transition: 0.3s ease-in;
}

.nav-links a:hover {
    background-color: rgb(23, 22, 22);
    font-weight: 900;
}