* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#A67B5B, #FED8B1, #ECB176, #6F4E37);
    /* overflow: hidden; */
}

